html, 
body{
    height: 100%; /* A altura deve estar definida como 100% para a altura do body em porcentagem funcionar */
}

body {
    background-color: aqua;
    margin: 100px 0px;
    padding: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%;  /* Todo elemento no CSS que possui altura em porcentagem refere-se a uma porcentagem da altura do ELEMENTO PAI. Ou seja, o elemento pai DEVE ter uma altura especificada*/
}

.main-title {
    color: #385555;
}

.list{
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}

.list-item{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 8px 5px rgba(0, 0, 0, .4);

    background-image: url(imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__imagem img{
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;  /* Colocando uma margem na parte de cima da imagem, a imagem empurra os outros elementos para baixo, fazendo o background imagem aparecer */
}

.list-item__name{
    margin: 0;
    font-size: 24px;
    color: #385555;
}

.list-item__action{
    display: flex;
    background-color: #e5e5e5;
    padding: 16px;
    gap: 16px;
    justify-content: space-evenly;
}

.list-item__action img:hover{
    opacity: .5;
}