:root{
    --primary-color: #612674;
}

html{
    font-family: sans-serif;
}

.maxWidth{
    max-width: 64em;
    margin: auto;
}

.top_header{
    text-align: center;
}

.top_header_nav{
    background-color: var(--primary-color);
}

.top_header_nav ul{
    list-style-type: none;
    padding: 0;
}

.top_header_nav a{
    color: white;
    text-decoration: none;
    display: block; /* No caso da tag a, ajuda porque faz com que toda a área em volta do texto seja clicável */
    padding: 1em;
}

.top_header_nav a:hover{
    /* background-color: rgba(255, 255, 255, .2); */
    background-color: color-mix(in srgb, var(--primary-color), white 10%);
}

@media screen and (min-width: 45em){
    .top_header{
        display: flex;
        justify-content: space-between;
    }

    .top_header_logo{
        margin-left: 1.5em;
    }

    .top_header_nav{
        background-color: initial; /* initial significa valor padrão. Estamos voltando a cor de fundo para a padrão desse elemento (que é o branco) */
    }
    
    .top_header_nav li{
        display: inline-block; /* Colocando itens do menu lado a lado (poderia usar flexbox) */
    }

    .top_header_nav a{
        color: var(--primary-color);
    }

    .top_header_nav a:hover{
        background-color: color-mix(in srgb, var(--primary-color), white 90%);
    }
}